{{>header}}

  	 <p>
  	 	Se solicito cerrar el curso
  	 </p>
  	 
  	 {{cerrarCurso id estado}}	


  	 	<br><br>
  	 <input type ='button' value = '<-- Volver' onclick="window.open('http://localhost:3000/listarcoor', 'width=800,height=600');"/> 


  	  	

{{>footer}}