{{>header}}




	<div class="col-sm-6 main-section mx-auto border">
     <p>
      	{{crearCurso id nombre descripcion valor modalidad  horas}}
     </p>

     <br><br>

       	 <input type ='button' class="btn-primary" value = '<-- Volver' onclick="window.open('http://localhost:3000/cursos', 'width=800,height=600');"/> 
      </div> 	 
 
{{>footer}}
