{{>header}}


	<div class="col-sm-6 main-section mx-auto border">
     <p>
      
     	{{crearInscripcion documento nombre correo telefono id}}
     </p>

     <br><br>

       	 <input type ='button' class="btn-primary" value = '<-- Volver' onclick="window.open('http://localhost:3000/listar', 'width=800,height=600');"/> 
     </div>  	 
 
{{>footer}}