
{{>header}}

    

<div class="col-sm-6 main-section mx-auto form-group">
  <p>
     Registro de cursos:
     </p><br>
 <table class="table table-striped table-bordered">
  <tr>
    <td  align="right"> <label for="nombre">* Nombre:  </label></td>
    <td><input type="text" name="nombre" required></td>
  </tr>
  <tr>
    <td  align="right"><label for="descripcion">* Descripcion:  </label></td>
    <td><input type="text" name="descripcion" required></td>
  </tr>
  <tr>
    <td  align="right"><label for="valor">* Valor:  </label></td>
    <td><input type="number" name="valor" required></td>
  </tr>
  <tr >
    <td align="right"><label for="modalidad">Modalidad:  </label></td>
    <td ><select name="modalidad">
      <option value="presencial">Presencial</option>
    <option value="virtual" selected>Virtual</option>
  </select></td>
  </tr>
  <tr>
    <td  align="right"><label for="horas">Duracion en horas:  </label></td>
    <td><input type="number" name="horas"><br><br></td>
  </tr>
  
</table>
     <input type ='button'  class="btn-primary" value = '<-- Volver' onclick="window.open('http://localhost:3000', 'width=800,height=600');"/> 
     <button class="btn-primary">Enviar</button><br><br>
</form>



</div>

{{>footer}}