{{>header}}

  	 <p>
  	 	Se solicito eliminar al aspirante
  	 </p>
  	 
  	 {{eliminarAspirante id documento}}	


  	 	<br><br>
  	 <input type ='button' value = '<-- Volver' onclick="window.open('http://localhost:3000', 'width=800,height=600');"/> 


  	  	

{{>footer}}