{{>header}}

  	 <div class="col-sm-6 main-section mx-auto border">

  	 <p>
  	 	Se solicito eliminar al aspirante
  	 </p>
  	 
  	 {{eliminarAspirante id documento}}	


  	 	<br><br>
  	 <input type ='button' class="btn-primary" value = '<-- Volver' onclick="window.open('http://localhost:3000/listarinsc', 'width=800,height=600');"/> 

  	</div>
  	  	

{{>footer}}