{{>header}}


<div class="container">

<p>{{titulo}}</p>
<br><br>


{{{listarPorCurso id}}}
  
</div>  
<br><br>
  	 <input type ='button' value = '<-- Volver' onclick="window.open('http://localhost:3000/listarcoor', 'width=800,height=600');"/> 

 
<br><br>



{{>footer}}