{{>header}}




<div class="container">
	<p>{{titulo}}</p>
<br><br>
{{{listaCursos}}}

<br><br>
  	 <input type ='button' value = '<-- Volver' onclick="window.open('http://localhost:3000', 'width=800,height=600');"/> 

 
<br><br>
</div>


  




{{>footer}}