{{>header}}


<div class="container">

<p>{{titulo}}</p>
<br><br>


{{{listarPorCurso id}}}
  

<br><br>
  	 <input type ='button' class="btn-primary" value = '<-- Volver' onclick="window.open('http://localhost:3000/listarcoor', 'width=800,height=600');"/> 

 
<br><br>

</div>  

{{>footer}}