{{>header}}

<div class="col-sm-6 main-section mx-auto border">

<p>{{titulo}}</p>
<br><br>

{{{listaCursoscoor}}}
  

<br><br>
  	 <input type ='button' class="btn-primary" value = '<-- Volver' onclick="window.open('http://localhost:3000', 'width=800,height=600');"/> 

 </div> 
<br><br>



{{>footer}}